{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div  class="h-100">
    <div id="profile-container" >
    </div>

    <hr>
    <h2>Posts</h2>

    <div id="feed"></div>

    <nav aria-label="Pagination" class="mt-3 ms-2 p-3">
        <ul class="pagination pagination-lg" id="pagination">

        </ul>
    </nav>
</div>



<script>
    const username = "{{username}}";
    const currentUser = "{{request.user.username}}";
</script>

<script type="module" src="{% static 'network/profile.js' %}"></script>
{% endblock %} 